mlflow
auto-ts==0.0.64
cffi==1.15.1
click==7.1.2
cloudpickle==2.1.0
cvxopt==1.2.7
dask==2022.1.0
distributed==2022.1.0
fbprophet==0.7.1
fsspec==2022.5.0
graphviz==0.10.1
ipywidgets==7.7.1
lightgbm==2.2.3
msgpack==1.0.4
packaging==21.3
pathlib==1.0.1
patsy==0.5.2
pillow==7.1.2
plotly==5.5.0
pmdarima==1.8.5
psutil==5.4.8
pyyaml==6.0
scikit-learn==1.0.2
seaborn==0.11.2
sortedcontainers==2.4.0
statsmodels==0.13.2
tblib==1.7.0
toolz==0.12.0
urllib3==1.24.3
xgboost==1.6.1
xlrd==1.1.0